# Terraform state files
*.tfstate
*.tfstate.backup

# Crash logs
crash.log
crash.*.log

# Sensitive variable files
*.tfvars
*.tfvars.json
!*.tfvars.example

# Terraform directories
.terraform/
.terraform.lock.hcl

# Editor files
.vscode/
.idea/
.DS_Store
*.swp
*.swo

# Keys & certs
*.pem
*.key
*.crt
*.pub

# Temp files
*.log
*.bak
*.tmp

